<?php
require_once(__DIR__ . "/../dbconn.php");
require_once(__DIR__ . "/../config.php");

?>

body > div#content > div#thoughts
{
  box-sizing: border-box;
  padding: 32px;
  background-color: <?= $darkgray ?>;
}

body > div#content > div#thoughts > div {
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
  margin-bottom: 32px;
  width: 80%;
  margin-left: 10%;
  background-color: <?= $white ?>;
}

body > div#content > div#thoughts > div#blog_content {
  padding: 0px;
  background-color: <?= $darkgray ?>;
}

body > div#content > div#thoughts > div#blog_content > div.post {
  background-color: <?= $white ?>;
  padding: 32px;
  margin-bottom: 32px;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.header > div.title {
  font-size: 32px;
  text-align: center;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.header > div.author,
body > div#content > div#thoughts > div#blog_content > div.post >
div.header > div.publish_date {
  display: none;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.content {
  display: block;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.footer {
  margin-top: 8px;
  background-color: <?= $lightlightgray ?>;
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: -32px;
  padding: 32px;
  box-sizing: border-box;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.footer > div {
  display: inline-block;
  margin: 8px;
}

body > div#content > div#thoughts > div#blog_content > div.post >
div.footer > div.author:before {
  content: "Author: ";
  color: <?= $darkgray ?>;
}
body > div#content > div#thoughts > div#blog_content > div.post >
div.footer > div.publish_date:before {
  content: "Published: ";
  color: <?= $darkgray ?>;
}
body > div#content > div#thoughts > div#blog_content > div.post >
div.footer > div.last_modified:before {
  content: "Last Modified: ";
  color: <?= $darkgray ?>;
}

body > div#content > div#thoughts > div#blog_footer {
  margin-top: -32px;
}
