<?php
require_once(__DIR__ . "/../config.php");
require_once(__DIR__ . "/../dbconn.php");

try {
  $SqlConnection->exec("
  CREATE TABLE IF NOT EXISTS imageHeader (
  im_id INT(6) UNSIGNED AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(256),
  description VARCHAR(1024),
  url VARCHAR(128),
  date_added TIMESTAMP
  )");
} catch(PDOException $e) {
  die("Database Error: " . $e);
}

$image_header_enable = false;

$statement = $SqlConnection->prepare("SELECT * FROM imageHeader ORDER BY RAND() LIMIT 1");
$statement->execute();

$result = $statement->fetchAll();
if(count($result) <= 0) {
  $image_header_enable = false;
} else {
  $image_header_enable = true;
  $image_uri = $result[0]["url"];
}

?>

<?php
if($image_header_enable) {
?>

body > div#content > div#intro_img {
  display: block;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../<?php echo($image_uri); ?>");
}

<?php
} else {
?>

body > div#content > div#intro_img {
  display: none;
}

<?php
}
?>
