<?php
require("../config.php");
?>

body {
  background-color: <?= $bodyBgColor ?>;
  color: <?= $bodyTextColor ?>;
  margin: 0px;
}

body > div {
  display: inline-block;
  width: 100%;
}

body > div#menuButton {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  background-image: url("../assets/icons/hamburger.png");
}

body > div#menu {
  display: inline-block;
  position: fixed;
  top: 64px;
  left: 0px;
  width: 320px;
  height: 100%;

  background-color: <?= #slideoutMenuBgColor ?>;

  display: none;
}

