<?php
require_once("../config.php");
require_once("csstools.php");
?>

body {
  background-color: <?= $bodyBgColor ?>;
  color: <?= $bodyTextColor ?>;
  margin: 0px;
}

body > div {
  display: inline-block;
  width: 100%;
}

body > div#menuButton {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-size: contain;

  <?php css3function("transition", "0.5s ease-in-out"); ?>
}

body > div#menu {
  <?php css3function("transition", "0.5s ease-in-out"); ?>
  display: block;
  position: fixed;
  top: 48px;
  left: 0px;
  width: 320px;
  height: 100%;

  background-color: <?= $slideoutMenuBgColor ?>;
}

body > div#content {
  <?php css3function("transition", "0.5s ease-in-out"); ?>
  display: block;
  position: absolute;
  top: 48px;
  left: 320px;
  right: 0px;
  background-color: #C6C6C6;
  min-height: 100vh;
}
